<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="js/react.min.js"></script>
	<script src="js/react-dom.min.js"></script>
	<script src="js/browser.min.js"></script>
	<script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootbox.min.js"></script>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="socket.io/socket.io.js"></script>
<link rel="stylesheet" type="text/css" href="css/style.css">
<link href="css/pace-theme-big-counter.css" rel="stylesheet" />
 <script src="js/pace.js"></script>
    <script>
        var login =false;
        <%if (session.username) { %>
        login = true;
        <%}%>
    </script>
    <script>
        $(function () {
    // tooltip demo
    ///pace function for showing progress

    function load(time) {
        var x = new XMLHttpRequest()
        x.open('GET', "" + time, true);
        x.send();
    };

    /*load(20);
    load(100);
    load(500);
    load(2000);
    load(3000);
    setTimeout(function () {
        Pace.ignore(function () {
            load(3100);
        });
    }, 4000);

    Pace.on('hide', function () {
        console.log('done');
    });
    paceOptions = {
        elements: true
    };*/
   

});
    </script>
    <style>
  *[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

*[role="form"] h2 {
    margin-left: 5em;
    margin-bottom: 1em;
}
</style>
</head>