<% include ../partials/head_share_note %>
<body>
 <% include ../partials/header %>
	<div id="root">
    </div>
<p class="footer">
  Created by <a href="#">Hai9999</a>
</p>
	<script type="text/babel" src="../js/vidu_share_note.js"></script>
</body>
</html>